Let's calculate how much money the company spent in salaries each year. To do this, we will group the data by Year using the .groupby() method and then we will add up the salaries of all the employees by using the .sum() method.

## We display the total amount of money spent in salaries each year

Year

1990     153000

1991     162000

1992     174000

Name: Salary, dtype: int64

We see that the company spent a total of 153,000 dollars in 1990, 162,000 in 1991, and 174,000 in 1992.

Now, let's suppose I want to know what was the average salary for each year. In this case, we will group the data by Year using the .groupby() method, just as we did before, and then we use the .mean() method to get the average salary. Let's see how this works

## We display the average salary per year

Year

1990     51000

1991     54000

1992     58000

Name: Salary, dtype: int64


Now let's see what was the salary distribution per department per year. In this case we will group the data by Year and by Department using the .groupby() method and then we will add up the salaries for each department. Let's see the result

## We display the salary distribution per department per year.

Year     Department

1990    Admin              55000

            HR                    50000

            RD                    48000

1991    Admin              60000
         
            HR                    52000

            RD                    50000

1992    Admin            122000

            RD                    52000

Name: Salary, dtype: int64

In [21]:
import pandas as pd

In [22]:
#Load the googleStocks.csv file into a pandas DataFrame and print the DataFrame's shape

In [23]:
#Print the head of data in the DataFrame

In [24]:
# Check to see if we have any nulls/NaN's whatsoever in our dataset. 
# This should show boolean values

In [25]:
# When dealing with large datasets, it is often useful to get statistical information from them
# Print out the description of the data you loaded from the csv file

In [26]:
# Get the descriptive statistics on a single column of our DataFrame: 'Adj Close'

In [27]:
print('MAX: \n', googleStock.max())
print('\nClose MIN:',googleStock['Close'].min())
print('Close MAX:',googleStock['Close'].max())
print('\nOverall Mean:\n', googleStock.mean())

MAX:
 Date         2017-10-13
Open                992
High             997.21
Low                 989
Close            989.68
Adj Close        989.68
Volume         82768100
dtype: object

Close MIN: 49.681866
Close MAX: 989.679993

Overall Mean:
 Date         7.374345e+143-7.388734e+143j
Open           0.000000e+00+0.000000e+00j
High           0.000000e+00+3.999943e-58j
Low            3.776944e-82+6.743055e-67j
Close         8.153259e-43+2.570764e+154j
Adj Close      2.210968e-52+8.591978e-44j
Volume         8.038476e+06+0.000000e+00j
dtype: complex128

In [28]:
#Another important statistical measure is data correlation. Data correlation can tell us, for example, 
#if the data in different columns are correlated. 

# Print the correlation values in your dataset